.Donation-Container {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: none;
    user-select: none;
    color: #333;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    position: relative;
    padding-top: 60px;
}

.Donation-content {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    font-size: 100%;
    padding: 0;
    border: none;
    color: #333;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    overflow: hidden;
    width: 1230px;
    margin: 0 auto;
    min-height: calc(100% - 223px);
}

.Banner-container {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: none;
    color: #333;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    -webkit-user-select: none;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 262px;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 7rem;
    pointer-events: none;
}

.Payment-container {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    border: none;
    color: #333;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    width: 100%;
    background: #fff;
    margin-top: 30px;
    border-radius: 6px;
    padding: 40px;
    min-height: 1200px;
}

.Donation-user {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: none;
    color: #333;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
}

.title-donation-user {
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    color: #333;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    position: relative;
    height: 20px;
    line-height: 20px;
    font-weight: 400;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 31px;
}

.title-donation-user::before {
    content: '|  ';
    color: #00C3FF;
    height: 100%;
}

.Donation-user-content {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    border: none;
    color: #333;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 1150px;
    min-height: 128px;
    background: #fbfbfb;
    border-radius: 6px;
    padding: 18px 49px;
}

.Donation-user-info {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: none;
    color: #333;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    flex-shrink: 0;
    width: 50%;
}

.Donation-username {
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    font-size: 100%;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;
    display: inline-block;
    line-height: 22px;
    color: #999;
    padding-left: 10px;
}

.Donation-user-p {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: none;
    color: #333;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    word-wrap: break-word;
    display: flex;
    margin-bottom: 10px;
}

.Donation-user-span {
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    font-size: 100%;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    flex-shrink: 0;
    display: inline-block;
    line-height: 22px;
    color: #999;
}

.Donation-user-passport {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: none;
    color: #333;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    flex-shrink: 0;
    width: 50%;
}

.Donation-user-passport-p {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: none;
    color: #333;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    word-wrap: break-word;
    display: flex;
    margin-bottom: 10px;
}

.Donation-fix {
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    font-size: 100%;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    color: #999!important;
    flex-shrink: 0;
    display: inline-block;
    line-height: 22px;
}

.Donation-user-passport-span {
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    font-size: 100%;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    flex-shrink: 0;
    display: inline-block;
    line-height: 22px;
    color: #999;
    padding-left: 10px;
}

.Donation-button {
    -webkit-text-size-adjust: 100%;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    appearance: button;
    display: block;
    background: #00c3ff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    margin-top: 13px;
}

.Donation-button-span {
    -webkit-text-size-adjust: 100%;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    text-transform: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    color: #00c3ff;
}