.containerError {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100.05%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3d3d;
    min-height: calc(99vh - 8px);
    border: 4rem double rgb(0, 255, 170);
    border-image: url("https://cdn.discordapp.com/attachments/852770019413721158/1046500659790364722/descarga_2.png") 38 round;
    box-sizing: border-box;
    list-style-type: none;
    color: white;
    z-index: 6;
}

.wallpaper-error {
    width: 1680px;
    height: 900;
}

.error404 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}

.not-found {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
}

.wrong-star {
    position: absolute;
    color: #8b8b8b;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.7rem;
}

.error-button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
}