@font-face {
    font-family: 'Icon';
    src: url('./Fonts/ElementsFonts/Icon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@keyframes opacity {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
@keyframes glow {
    from {
        text-shadow: 0 0 20px #2d9da9;
    }
    to {
        text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
}

.loading {
    position: absolute;
    font-family: 'Icon';
    background-size: cover;
    background-image: url('./forest.jpg');
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;
    font-size: 10rem;
    animation: opacity 3s ease-in-out;
    animation-delay: 3s;
}
.letters {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15rem;
    color: white;
    animation: glow 2s ease-in-out infinite alternate;
}

