.Navbar-Container {
    position: absolute;
    width: 100%;
    height: 12vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.ul-navBar {
    display: inline-block;
    position: relative;
    height: inherit;
    margin-left: 5rem;
}

.li-navBar {
    display: flex;
    align-items: center;
    height: inherit;
    float: left;
    list-style: none;
    padding-left: 2rem;
}

.Navbar-Logo {
    width: 12rem;
}

.hover-underline-animation-Navbar {
    position: relative;
    color: #FFF;
    text-decoration: none;
}
  
  .hover-underline-animation-Navbar:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#FFF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
    .hover-underline-animation-Navbar:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

.ul-navBar-buttons {
    position: relative;
    height: inherit;
    float:right;
}
.li-navBar-button {
    display: flex;
    align-items: center;
    height: inherit;
    width: 15rem;
    float: left;
    list-style: none;
}

.Navbar-Button {
    background-color: transparent;
    border: none;
    height: inherit;
    width: inherit;
    text-decoration: none;
    font-size: larger;
    color: white;
}

.Navbar-Box-Effect {
    transition: 0.3s ease;
    cursor: pointer;
}

.Navbar-Box-Effect:hover {
    background-color: #fff;
    border-color: transparent;
    color: #444;
}

.Navbar-Download {
    display: flex;
    align-items:center;
    justify-content:center;
}

.Navbar-BsDownload {
    margin-left: .5rem;
}



