.Wallpaper{
    height: 56rem;
    width: 100%;
    background-image: url("https://cdn.discordapp.com/attachments/991964785153413170/1043775942348255232/anime-ragnarok-online-devochka.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.ContenedorPrincipal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Microsoft YaHei', 微软雅黑, 'MicrosoftJhengHei', 华文细黑, STHeiti, MingLiu;}

.ContenedorSecunario {
    list-style-type: none;
    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    grid-gap: 2rem;
}

.Containers {
    padding: 1.7rem;
    padding-top: 1.7rem;
    background-color: rgba(18,18,18,0.8);
    border-radius: 4px;
    opacity: 0.9;
}

.Noticebg {
    transition: all 0.5s 0s ease;
    width: 100%;
    height: 100%;
}

.Noticebg:hover {
    transform: scaleX(1);
}

.title {
    font-size: 24px;
    color: #ffffff;
}

.ContainerImage {
    width: auto;
    height: auto;
    overflow: hidden;
}

.h3 {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 34px;
    white-space: normal;
    max-height: 70px;
    margin: 10px 0;
}

.body {
    font-size: 1.01rem;
    line-height: 1.5rem;
    color: #fff;
}

.date {
    color: #808080;
    float: left;
    
}

.Notice {
    color: #ffc000;
    float: right;
}

.containerBox{
    position: relative;
    padding-right: 20%;
    padding-left: 20%;
    display: grid;
    grid-gap: 1.4rem;
}

.categoryBox {
    list-style-type: none;
    display: grid;
    grid-template-columns: 14rem 14rem 14rem;
    grid-gap: 2rem;
}

.Category {
    background-color: rgba(57,59,64,0.18);
    color: #393b40;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    padding: 0.7rem;
}

.news {
    background-color: rgba(57,59,64,0.18);
    border-radius: 4px;
    padding-top: 100%;
}



