ul {
    margin-left: 10rem;
}

li {
    /* border: 3px solid #FFF; */
    float: left;
    margin-right: 2rem;
    list-style: none;
}

a {
    /* border: 3px solid #FFF; */
}

.container {
    /* border: 3px solid #FFF; */
    position: absolute;
    width: 100%;
    display: flex;
    padding-top: 2rem;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    /* border: 3px solid #FFF; */
    margin-top: -1rem;
    transition:  ease;
    width: 12rem;
}



.hover-underline-animation {
    position: relative;
    color: #FFF;
    text-decoration: none;
}
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#FFF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

.grid-container {
    /* border: 3px solid #FFF; */
    position: relative;
    color: #FFF;
    display: grid;
    grid-template-columns: 10rem 10rem;
    margin-left: rem;
    
}
.grid-item {
    width: 100%;
    height: 100%;
    margin-top: 0;
    color: #FFF;
    text-decoration: none;
    /* border: 3px solid #FFF; */
}

.btn {
    cursor: pointer;
    background-color: black;
}






