ul {
    display: flex;
    /* border: 1px solid #fff; */
    margin-left: 5rem;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
}

li {
    /* border: 1px solid #FFF; */
    float: left;
    margin-right: 2rem;
    list-style: none;
}

a {
    /* border: 1px solid #FFF; */
}

.container {
    /* border: 1px solid #FFF; */
    position: absolute;
    width: 100%;
    display: flex;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
}

.logo {
    /* border: 1px solid #FFF; */
    margin-top: -1rem;
    transition:  ease;
    width: 12rem;
}



.hover-underline-animation {
    position: relative;
    color: #FFF;
    text-decoration: none;
}
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#FFF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

.grid-container {
    /* border: 1px solid #FFF; */
    position: inherit;
    color: #FFF;
    display: grid;
    grid-template-columns: 15rem 13rem;
    height: 100%;
    top: 0;
    right: 0;
    
}
.grid-item {
    width: 100%;
    height: 100%;
    color: #FFF;
    font-size: large;
    padding-top: 2rem;
    text-align: center;
    text-decoration: none;
    /* border: 1px solid #FFF; */
}

.download {
    transition: background-color 0.3s 
}

.download:hover {
    background-color: #fff;
    border-color: transparent;
    color: #444;
}


.login {
    color: rgb(213, 211, 211);
    transition: 0.3s;
}

.login:hover{
    color: #FFF;
}


.sound {
    /* border: 1px solid #fff; */
    color: rgba(255, 255, 255, 0.3);
    width: 32px;
    height: 32px;
    transition: 0.3s;
}

.sound:hover {
    color: #fff;
}







